/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya:ital,wght@0,400;0,800;1,400;1,800;1,900&family=Chivo:wght@300;400;900&display=swap');

@font-face {
  font-family: 'kalosregular';
  src: url('kalos-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$rp_grey: #C4CDDF;
$rp_black: #212834;
$rp_blue: #69AAFF;
$rp_red: #FF644F;
$rp_green: #00E5A0;

$text_color: $rp_grey;

%chivo_light {
  text-decoration: none;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: .7;
  color: $text_color;
}

%nav_link {
  height: auto;
  width: auto;
  cursor: pointer;
  @extend %chivo_light;
}

%app_shot {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 12px;

  .image {
    height: 350.2px;
    width: auto;
    position: relative;
  }

  .info {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;

    .app_name {
      width: fit-content;
      height: fit-content;
      position: relative;
      font-family: 'Alegreya';
      font-style: italic;
      font-weight: 900;
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 0.04em;
      font-variant: small-caps;
      color: $rp_grey;
      margin-bottom: 24px;
    }

    .app_blurb {
      width: fit-content;
      height: fit-content;
      position: relative;
      margin-bottom: 40px;
      font-family: 'Chivo';
      font-weight: 300;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: 0.05em;
      color: $rp_grey;
    }

    .app_details {
      width: fit-content;
      height: fit-content;
      position: relative;
      display: flex;
      flex-direction: row;
      column-gap: 20px;

      .sections {
        width: fit-content;
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .container {
          width: fit-content;
          height: fit-content;
          position: relative;
          display: flex;
          flex-direction: column;
          row-gap: 6px;

          .top {
            width: fit-content;
            height: fit-content;
            position: relative;
            font-family: 'Chivo';
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: .8;
            letter-spacing: 0.08em;
            color: $rp_grey;
          }

          .bottom {
            width: fit-content;
            height: fit-content;
            position: relative;
            font-family: 'Alegreya';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: .8;
            letter-spacing: 0.1em;
            color: $rp_grey;
          }
        }
      }
    }

    .open_project {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      padding: 12px 16px;
      font-family: 'Chivo';
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.04em;
      line-height: .7;
      text-align: center;
      border: 1px solid $rp_green;
      color: $rp_grey;
      cursor: pointer;
      text-decoration: none;


      &:hover {
        background-color: $rp_green;
        color: $rp_black;
      }
    }
  }
}

html {
  height: fit-content;
  width: 100vw;
}

body {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $rp_black;
}

.logo {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(24px + (48 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-top: 6vh;
  margin-left: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  cursor: pointer;
}

.nav {
  height: fit-content;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin-top: 9.76vh;
  margin-right: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));

  .overlap {
    margin-right: -1vw;
  }

  .link_container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: flex-end;

    .link {
      @extend %nav_link;
    }

    .right {
      &:hover + #tooltip {
        visibility: visible;
      }
    }

    .left {
      &:hover + #tooltip {
        visibility: visible;
      }
    }

    #tooltip {
      visibility: hidden;
      padding: 1.5vh 1vw;
      position: relative;
      @extend %nav_link;
      text-align: center;
      color: $rp_black;
      background-color: $rp_grey;
    }
  }
}

.herotext {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 35vh;

  .solutions {
    height: auto;
    width: auto;
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
    letter-spacing: -0.01em;
    font-size: 140px;
    line-height: .7;
    -webkit-text-stroke: 1px $rp_red;
    color: $rp_black;
  }

  .t_c {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    column-gap: 6%;
    margin-top: 2.5vh;

    .that {
      height: auto;
      width: auto;
      font-family: 'Alegreya', serif;
      font-weight: 400;
      letter-spacing: -0.03em;
      font-size: 46px;
      line-height: .7;
      color: $rp_grey;
    }

    .captivate {
      height: auto;
      width: auto;
      font-family: 'Alegreya', serif;
      font-style: italic;
      font-weight: 800;
      letter-spacing: 0.02em;
      font-size: 46px;
      line-height: .7;
      color: $rp_grey;
    }
  }

  .a_d {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 2.5vh;

    .ampersand {
      height: auto;
      width: auto;
      font-family: 'Alegreya SC', serif;
      font-weight: 400;
      font-size: 46px;
      line-height: .7;
      margin-right: 10%;
      color: $rp_grey;
    }

    .delight {
      height: auto;
      width: auto;
      font-family: 'Alegreya', serif;
      font-style: italic;
      font-weight: 800;
      letter-spacing: 0.02em;
      font-size: 46px;
      line-height: .7;
      color: $rp_grey;
    }

    .period {
      height: auto;
      width: auto;
      font-family: 'Alegreya SC', serif;
      font-weight: 400;
      font-size: 46px;
      line-height: .7;
      color: $rp_grey;
    }
  }

  .title_name {
    height: auto;
    width: auto;
    text-align: center;
    @extend %chivo_light;
    color: $rp_blue;
    margin-top: 2%;

    .name {
      margin-top: 6%;
    }
  }
}

.turn_wheels {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 18vh;

  .wheel_one {
    height: 236px;
    width: auto;
    animation: clockwise 30s infinite linear;

    @keyframes clockwise {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }
  }

  .wheel_two {
    height: 175px;
    width: auto;
    position: absolute;
    align-self: center;
    animation: counterclockwise 30s infinite linear;

    @keyframes counterclockwise {
      from {
        transform: rotate(359deg);
      }

      to {
        transform: rotate(0deg);
      }
    }
  }

  #arrow {
    height: auto;
    width: 16px;
    padding-bottom: 5%;
    position: absolute;
    align-self: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

    @keyframes bounce {
      0% {
        transform: scale(1, 1) translateY(0);
      }

      12% {
        transform: scale(1.06, .8) translateY(0);
      }

      32% {
        transform: scale(.8, 1.02) translateY(-12px);
      }

      48% {
        transform: scale(1, .6) translateY(0);
      }

      64% {
        transform: scale(1, 1.06) translateY(-6px);
      }

      80% {
        transform: scale(1, .8) translateY(0);
      }

      100% {
        transform: scale(1, 1) translateY(0);
      }
    }
  }
}

.casestudies {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 18vh;
  margin-bottom: 16vh;
  margin-left: 6vw;

  .cs_title {
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    color: $rp_grey;
    margin-bottom: 10vh;

    .case {
      height: fit-content;
      width: fit-content;
      font-family: 'Chivo';
      font-weight: 900;
      font-size: 32px;
      line-height: .8;
      letter-spacing: -0.01em;
    }

    .studies {
      height: fit-content;
      width: fit-content;
      font-family: 'Alegreya';
      font-style: italic;
      font-weight: 400;
      font-size: 34px;
      line-height: .8;
      letter-spacing: 0.03em;
    }
  }

  .app_shot {
    @extend %app_shot;
    margin-bottom: 10vh;
  }
}

.pagination {
  height: 57px;
  width: 3px;
  position: fixed;
  z-index: 7;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  right: 1vw;
  top: 45vh;

  .on {
    opacity: 1;
  }

  .off {
    opacity: .5;
  }

  .p_one {
    height: 15px;
    width: auto;
    background-color: $rp_green;
  }

  .p_two {
    height: 15px;
    width: auto;
    background-color: $rp_green;
  }

  .p_three {
    height: 15px;
    width: auto;
    opacity: .5;
    background-color: $rp_green;
  }
}

.figma_iframes {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: black;

  .close_figma {
    position: absolute;
    top: 1vh;
    left: 4vw;
    margin-top: 40px;
    z-index: 11;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    padding: 12px 16px;
    font-family: 'Chivo';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: .7;
    text-align: center;
    border: 1px solid $rp_green;
    color: $rp_grey;
    cursor: pointer;
    text-decoration: none;


    &:hover {
      background-color: $rp_green;
      color: $rp_black;
    }
  }

  .coming_soon {
    position: fixed;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-self: center;
    flex-direction: row;
    column-gap: 6px;
    color: $rp_grey;
    margin-bottom: 15vh;

    .case {
      height: fit-content;
      width: fit-content;
      font-family: 'Chivo';
      font-weight: 900;
      font-size: 32px;
      line-height: .8;
      letter-spacing: -0.01em;
    }

    .studies {
      height: fit-content;
      width: fit-content;
      font-family: 'Alegreya';
      font-style: italic;
      font-weight: 400;
      font-size: 34px;
      line-height: .8;
      letter-spacing: 0.03em;
    }
  }

}

.show {
  visibility: visible;
}


.kalos {
  height: 100vh;
  width: 100vw;
  background-color: #040600;
  position: relative;
  overflow: scroll;

  .close_figma {
    position: absolute;
    top: 1vh;
    left: 4vw;
    margin-top: 40px;
    z-index: 11;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    padding: 12px 16px;
    font-family: 'Chivo';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: .7;
    text-align: center;
    border: 2px solid #6700B8;
    border-radius: 2.5px;
    color: #040600;
    cursor: pointer;
    text-decoration: none;


    &:hover {
      background-color: #040600;
      font-weight: 300;
      color: #F9F9F9;
    }
  }

  #hero_cut {
    height: auto;
    width: 94.5vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-20vh);
  }

  .kalos_intro {
    height: fit-content;
    width: fit-content;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 18vh;
    margin-left: 10vw;

    #type_name {
      height: fit-content;
      width: 80%;
    }

    .type_designer {
      font-family: 'kalosregular';
      font-style: normal;
      font-weight: 400;
      font-size: 16.9px;
      letter-spacing: 1.5px;
      margin-top: 12px;
      color: #6700B8;
    }

    .download_kalos {
      margin-top: 2vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      padding: 12px 16px;
      font-family: 'Chivo';
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.04em;
      line-height: .7;
      text-align: center;
      border: 2px solid #6700B8;
      border-radius: 2.5px;
      color: #040600;
      cursor: pointer;
      text-decoration: none;


      &:hover {
        background-color: #040600;
        font-weight: 300;
        color: #F9F9F9;
      }
    }

    .type_intro_one {
      font-family: 'kalosregular';
      font-style: normal;
      font-weight: 400;
      font-size: 16.9px;
      line-height: 152.02%;
      letter-spacing: 1.5px;
      color: #040600;
      margin-top: 3vh;
    }
  }

  .type_intro_two {
    position: absolute;
    right: 10vw;
    top: 117vh;
    z-index: 2;
    font-family: 'kalosregular';
    font-style: normal;
    font-weight: 400;
    font-size: 16.9px;
    line-height: 152.02%;
    letter-spacing: 1.5px;
    color: #F9F9F9;
  }

  .letter_grid {
    height: fit-content;
    width: 100vw;
    position: absolute;
    top: 210vh;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;

    .grid_title {
      height: fit-content;
      width: fit-content;
      font-family: 'kalosregular';
      font-style: normal;
      font-weight: 400;
      font-size: 16.9px;
      letter-spacing: 1.5px;
      color: #F9F9F9;
      margin-left: 14.25vw;
    }

    .grid {
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: fit-content;
      row-gap: 8px;
      margin-left: 14.25vw;

      .row {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        column-gap: 8px;

        .block {
          height: 9vh;
          width: 5vw;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #6700B8;
          font-family: 'kalosregular';
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          color: #F9F9F9;
        }
      }
    }

  }

  .uppercase {
    top: 240vh;

    .grid {

      .row {

        .block {
          border: 1px solid #488A40;
          text-transform: uppercase;
        }
      }
    }
  }

  .symbols {
    top: 305vh;

    .grid {
      margin-left: 25.25vw;
    }

    .grid_title {
      margin-left: 25.25vw;
    }
  }

  .punctuation {
    top: 390vh;

    .grid {
      margin-left: 25.25vw;
    }

    .grid_title {
      margin-left: 25.25vw;
    }

    .grid {

      .row {

        .block {
          border: 1px solid #488A40;
        }
      }
    }

  }

  .floats {
    height: fit-content;
    width: 100vw;
    position: absolute;
    top: 280vh;
    display: flex;
    justify-content: center;

    .float_characters {
      height: fit-content;
      width: fit-content;
      font-family: 'kalosregular';
      font-style: normal;
      font-weight: 400;
      font-size: 140px;
      line-height: .6;
      padding-top: 2.2vh;
      color: #F9F9F9;

    }
  }

  .numbers {
    top: 365vh;
    letter-spacing: .4em;
  }
.shots {
  height: fit-content;
  width: 100vw;
  position: absolute;
  top: 450vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10vh;
  padding-bottom: 10vh;

  #mock_up {
    height: fit-content;
    width: 60%;
  }
}

}