/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya:ital,wght@0,400;0,800;1,400;1,800;1,900&family=Chivo:wght@300;400;900&display=swap');

$rp_grey: #C4CDDF;
$rp_black: #212843;
$rp_blue: #69AAFF;
$rp_red: #FF644F;
$rp_green: #0FFF19;

$text_color: $rp_grey;

%chivo_light {
  text-decoration: none;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: .7;
  color: $text_color;
}

%nav_link {
  height: auto;
  width: auto;
  cursor: pointer;
  @extend %chivo_light;
}

%app_shot {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 12px;

  .image {
    height: 171.5px;
    width: auto;
    position: relative;
  }

  .info {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;

    .app_name {
      width: fit-content;
      height: fit-content;
      font-family: 'Alegreya';
      font-style: italic;
      font-weight: 900;
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 0.04em;
      font-variant: small-caps;
      color: $rp_grey;
      margin-bottom: 24px;
    }

    .app_blurb {
      width: fit-content;
      height: fit-content;
      font-family: 'Chivo';
      font-weight: 300;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: 0.05em;
      color: $rp_grey;
      margin-bottom: 40px;
    }

    .app_details {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      column-gap: 20px;

      .sections {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .container {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          row-gap: 6px;

          .top {
            width: fit-content;
            height: fit-content;
            font-family: 'Chivo';
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: .8;
            letter-spacing: 0.08em;
            color: $rp_grey;
          }

          .bottom {
            width: fit-content;
            height: fit-content;
            font-family: 'Alegreya';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: .8;
            letter-spacing: 0.1em;
            color: $rp_grey;
          }
        }
      }
    }
  }

  .cs_title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    color: $rp_grey;

    .case {
      height: fit-content;
      width: fit-content;
      font-family: 'Chivo';
      font-weight: 900;
      font-size: 32px;
      line-height: .8;
      letter-spacing: -0.01em;
    }
    .studies {
      height: fit-content;
      width: fit-content;
      font-family: 'Alegreya';
      font-style: italic;
      font-weight: 400;
      font-size: 34px;
      line-height: .8;
      letter-spacing: 0.03em;
    }
  }
}

html,
body {
  overscroll-behavior: none;
  overflow: scroll;
  background-color: $rp_black;
  width: 100%;
  height: 100%;

  ::-webkit-scrollbar {
    display: none;
  }
}

.logo_nav {
  z-index: 5;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  position: fixed;
  top: 0;


  .logo {
    height: auto;
    width: calc(24px + (48 - 24) * ((100vh - 640px) / (1440 - 640)));
    margin-left: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
    cursor: pointer;
  }

  .nav {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin-right: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));

    .c_link {
      @extend %nav_link;

      #tooltip {
        height: auto;
        width: auto;
        visibility: hidden;
        padding: .6% .7%;
        position: absolute;
        right: 8.2%;
        margin-top: .7%;
        @extend %nav_link;
        text-align: center;
        color: $rp_black;
        background-color: $rp_grey;
      }

      &:hover #tooltip {
        visibility: visible;
      }
    }

    .r_link {
      @extend %nav_link;

      #tooltip {
        height: auto;
        width: auto;
        display: none;
        padding: .6% .7%;
        position: absolute;
        right: 2.6%;
        margin-top: .7%;
        @extend %nav_link;
        text-align: center;
        color: $rp_black;
        background-color: $rp_grey;
      }

      &:hover #tooltip {
        display: block;
      }
    }
  }
}

.intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  overscroll-behavior: none;
  background-color: $rp_black;
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
  transition-property: opacity filter transform;
  transition-duration: 480ms;
  transition-timing-function: ease-in-out;

  ::-webkit-scrollbar {
    display: none;
  }

  .herotext {
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 30vh;

    .solutions {
      height: auto;
      width: auto;
      font-family: 'Chivo', sans-serif;
      font-weight: 900;
      letter-spacing: -0.01em;
      font-size: 140px;
      line-height: .7;
      -webkit-text-stroke: 1px $rp_red;
      color: $rp_black;
    }

    .t_c {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: row;
      column-gap: 6%;
      margin-top: 1.5%;

      .that {
        height: auto;
        width: auto;
        font-family: 'Alegreya', serif;
        font-weight: 400;
        letter-spacing: -0.03em;
        font-size: 46px;
        line-height: .7;
        color: $rp_grey;
      }

      .captivate {
        height: auto;
        width: auto;
        font-family: 'Alegreya', serif;
        font-style: italic;
        font-weight: 800;
        letter-spacing: 0.02em;
        font-size: 46px;
        line-height: .7;
        color: $rp_grey;
      }
    }

    .a_d {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: row;
      margin-top: 1.5%;

      .ampersand {
        height: auto;
        width: auto;
        font-family: 'Alegreya SC', serif;
        font-weight: 400;
        font-size: 46px;
        line-height: .7;
        margin-right: 10%;
        color: $rp_grey;
      }

      .delight {
        height: auto;
        width: auto;
        font-family: 'Alegreya', serif;
        font-style: italic;
        font-weight: 800;
        letter-spacing: 0.02em;
        font-size: 46px;
        line-height: .7;
        color: $rp_grey;
      }

      .period {
        height: auto;
        width: auto;
        font-family: 'Alegreya SC', serif;
        font-weight: 400;
        font-size: 46px;
        line-height: .7;
        color: $rp_grey;
      }
    }

    .title_name {
      height: auto;
      width: auto;
      text-align: center;
      @extend %chivo_light;
      color: $rp_blue;
      margin-top: 2%;

      .name {
        margin-top: 6%;
      }
    }
  }

  .turn_wheels {
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 86vh;

    .wheel_one {
      height: 236px;
      width: auto;
      animation: clockwise 30s infinite linear;

      @keyframes clockwise {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(359deg);
        }
      }
    }

    .wheel_two {
      height: 175px;
      width: auto;
      position: absolute;
      align-self: center;
      animation: counterclockwise 30s infinite linear;

      @keyframes counterclockwise {
        from {
          transform: rotate(359deg);
        }

        to {
          transform: rotate(0deg);
        }
      }
    }

    #arrow {
      height: auto;
      width: 16px;
      padding-bottom: 5%;
      position: absolute;
      align-self: center;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
      animation-name: bounce;
      animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

      @keyframes bounce {
        0% {
          transform: scale(1, 1) translateY(0);
        }

        12% {
          transform: scale(1.06, .8) translateY(0);
        }

        32% {
          transform: scale(.8, 1.02) translateY(-12px);
        }

        48% {
          transform: scale(1, .6) translateY(0);
        }

        64% {
          transform: scale(1, 1.06) translateY(-6px);
        }

        80% {
          transform: scale(1, .8) translateY(0);
        }

        100% {
          transform: scale(1, 1) translateY(0);
        }
      }
    }
  }
}

.case_studies {
  width: 100%;
  height: 100%;
  z-index: 4;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;

  .scroll_home {
    overflow: scroll;
    overscroll-behavior: none;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;

    .top {
      opacity: 1;
      width: 100%;
      height: 100%;
      z-index: 2;
      position: relative;
      top: 0;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      justify-content: center;
      align-items: center;

      .app_shot {
        @extend %app_shot;
      }
    }

    .bottom {
      height: 100%;
      width: 100%;
      position: relative;
    }
  }
}

.in {
  transform: translateY(0%);
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.out {
  opacity: 0;
  filter: blur(32px);
  transform: translateY(0%);
  transition-property: opacity filter transform;
  transition-duration: 480ms;
  transition-timing-function: ease-in-out;
}

.scroll_object {
  height: 200%;
  width: 100%;
  position: relative;
  opacity: 0;
  z-index: 3;
  background-color: $rp_red;
}

.pagination {
  height: 57px;
  width: 3px;
  position: fixed;
  z-index: 4;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  right: 1%;
  top: 45%;

  .p_one {
    height: 15px;
    width: 100%;
    opacity: 1;
    background-color: $rp_green;
  }

  .p_two {
    height: 15px;
    width: 100%;
    opacity: .5;
    background-color: $rp_green;
  }

  .p_three {
    height: 15px;
    width: 100%;
    opacity: .5;
    background-color: $rp_green;
  }
}