/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url("https://use.typekit.net/qly3yul.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap");

@mixin breakpointi {
  @media only screen and (max-width: 1024px) and (min-width: 600px) and (orientation: portrait) {
    @content;
  }
}

@mixin breakpointx {
  @media only screen and (max-width: 599px) and (min-width: 300px) and (orientation: portrait) {
    @content;
  }
}

%nav-font {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(10px + (24 - 10) * ((100vh - 640px) / (1440 - 640)));
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

%links {
  height: auto;
  width: auto;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @extend %nav-font;
}

%h-words {
  text-decoration: none;
  font-size: calc(18px + (37 - 18) * ((100vw - 300px) / (1600 - 300)));
  color: white;
}

%casenumbers {
  font-family: gastromond, sans-serif;
  font-weight: 400;
  font-size: calc(36px + (92 - 36) * ((100vw - 1024px) / (2560 - 1024)));
  font-variant-numeric: lining-nums tabular-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

%casecard {
  background-color: rgba(255, 65, 65, 0);
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  -webkit-transition-property: margin-top;
  -moz-transition-property: margin-top;
  -o-transition-property: margin-top;
  transition-property: margin-top;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);

  .details {
    background-color: rgba(65, 255, 214, 0);
    color: white;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;

    .casenumber {
      @extend %casenumbers;
      background-color: rgba(48, 163, 58, 0);
      height: auto;
      width: auto;
      margin-bottom: calc(100px + (200 - 100) * ((100vw - 1024px) / (2560 - 1024)));
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-end;

      .dot {
        background-color: rgba(190, 240, 11, 0);
        height: auto;
        width: auto;
        font-size: 40px;
        text-align: end;
      }

      .zero {
        background-color: rgba(69, 48, 163, 0);
        height: auto;
        width: auto;
        text-align: end;
        font-variant-numeric: oldstyle-nums;
        -moz-font-feature-settings: "onum", "clig";
        -webkit-font-feature-settings: "onum", "clig";
        font-feature-settings: "onum", "clig";
      }

      .number {
        text-align: end;
        background-color: rgba(21, 224, 207, 0);
        height: auto;
        width: auto;
      }
    }

    .caseinfo {
      background-color: rgba(69, 48, 163, 0);
      height: auto;
      width: 100%;
      text-align: end;

      .title {
        font-family: gastromond, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.04em;
        font-size: calc(14px + (32 - 14) * ((100vw - 1024px) / (2560 - 1024)));
        padding-bottom: calc(8px + (16 - 8) * ((100vw - 1024px) / (2560 - 1024)));
        white-space: nowrap;
      }

      .heading {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: calc(10px + (24 - 10) * ((100vw - 1024px) / (2560 - 1024)));
        letter-spacing: 0.04em;
        padding-top: calc(12px + (28 - 12) * ((100vw - 1024px) / (2560 - 1024)));
      }

      .subheading {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: calc(10px + (24 - 10) * ((100vw - 1024px) / (2560 - 1024)));
        letter-spacing: 0.06em;
        padding-top: calc(4px + (12 - 4) * ((100vw - 1024px) / (2560 - 1024)));
      }
    }
  }

  a {
    height: auto;
    width: auto;
    margin-left: calc(60px + (120 - 60) * ((100vw - 1024px) / (2560 - 1024)));
    margin-right: calc(60px + (180 - 60) * ((100vw - 1024px) / (2560 - 1024)));
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: none;

    &:focus {
      outline: none;
    }

    .pic {
      height: auto;
      width: calc((132px * .75) + ((132 * 1.5) - (132 * .75)) * ((100vw - 1024px) / (2560 - 1024))); 
    }
  }
}
%box2 {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

html,
body {
  overscroll-behavior: none;
  background-color: #000000;
  width: 100%;
  height: 100%;

  ::-webkit-scrollbar {
    display: none;
  }
}

.mobile {
  display: none;
  @include breakpointi {
    display: inline;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;

    .mobilet {
      text-decoration: none;
      font-size: 16px;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
    }

    .logo {
      height: auto;
      width: 32px;
      align-self: center;
      margin-bottom: 20px;
    }
  }
  @include breakpointx {
    display: inline;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;

    .mobilet {
      text-decoration: none;
      font-size: 16px;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
    }

    .logo {
      height: auto;
      width: 32px;
      align-self: center;
      margin-bottom: 20px;
    }
  }
}

.navwrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 100) 49%);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  padding-bottom: 77px;
  top: 0px;

  .logo_nav {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
    align-items: flex-end;

    .logo {
      height: auto;
      width: auto;
      margin-left: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
      padding-bottom: 1px;
      display: flex;

      .logosvg {
        height: auto;
        width: calc(24px + (48 - 24) * ((100vh - 640px) / (1440 - 640)));
        cursor: pointer;
      }
    }

    .nav {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      margin-right: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));

      .links {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;

        .casestudies {
          @extend %links;
        }
        .resume {
          @extend %links;
        }
      }

      .openedlink.home {
        height: 0px;
        width: 0px;
        transform: translateX(15px);
        margin-top: 0px;
        background-color: #ffffff;
        will-change: transform;
        transition-property: transform, width, height, margin-top;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
      }

      .openedlink.studies {
        height: calc(4px + (8 - 4) * ((100vh - 640px) / (1440 - 640)));
        width: calc(67px + (160 - 67) * ((100vh - 640px) / (1440 - 640)));
        transform: translateX(15px);
        margin-top: calc(3px + (6 - 3) * ((100vh - 640px) / (1440 - 640)));
        background-color: #ffffff;
        will-change: transform;
        transition-property: transform, width, height, margin-top;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
      }

      .openedlink.resume {
        height: calc(4px + (8 - 4) * ((100vh - 640px) / (1440 - 640)));
        width: calc(41px + (100 - 41) * ((100vh - 640px) / (1440 - 640)));
        transform: translateX(calc(98px + (190 - 98) * ((100vh - 640px) / (1440 - 640))));
        margin-top: calc(3px + (6 - 3) * ((100vh - 640px) / (1440 - 640)));
        background-color: #ffffff;
        will-change: transform;
        transition-property: transform, width, height, margin-top;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
      }
    }
  }
}

.herowords {
  background-color: rgba(0, 110, 255, 0);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  position: fixed;
  top: 39vh;

  .intuition {
    position: relative;
    @extend %h-words;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

  .compassion {
    position: relative;
    @extend %h-words;
    font-family: gastromond, sans-serif;
    font-weight: 400;
    margin-left: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
    margin-right: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
  }

  .curiosity {
    position: relative;
    @extend %h-words;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }
}

.myname {
  height: auto;
  width: auto;
  position: fixed;
  bottom: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  left: calc(48px + (120 - 48) * ((100vh - 640px) / (1440 - 640)));
  font-weight: 300;
  cursor: text;
  @extend %nav-font;

  &::selection {
    background: #ffa910;
    color: black;
  }
}

.jobtitle {
  height: auto;
  width: auto;
  position: fixed;
  bottom: -3px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  left: -2px;
  font-weight: 300;
  cursor: text;
  margin-left: calc(24px + (65 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-bottom: calc(48px + (128 - 48) * ((100vh - 640px) / (1440 - 640)));
  @extend %nav-font;

  &::selection {
    background: #ffa910;
    color: black;
  }
}

.myemail {
  height: auto;
  width: auto;
  position: fixed;
  bottom: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  right: calc(48px + (120 - 48) * ((100vh - 640px) / (1440 - 640)));
  font-weight: 300;
  cursor: text;
  @extend %nav-font;

  &::selection {
    background: #2261e0;
  }
}

.mynumber {
  height: auto;
  width: auto;
  position: fixed;
  bottom: -1px;
  writing-mode: vertical-lr;
  margin-right: calc(24px + (83 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-bottom: calc(48px + (128 - 48) * ((100vh - 640px) / (1440 - 640)));
  right: -2px;
  font-weight: 300;
  cursor: text;
  @extend %nav-font;

  &::selection {
    background: #2261e0;
  }
}

.bottom_fade.low {
  height: 270px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 100) 36%);
  will-change: transform;
  transform: translateY(40%);
  transition-property: transform;
  transition-duration: 1000ms;
  transition-delay: 250ms;
  transition-timing-function: ease-out;

}

.bottom_fade.high {
  height: 270px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 100) 36%);
  will-change: transform;
  transform: translateY(0%);
  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.fullresume.hide {
  height: auto;
  width: auto;
  position: fixed;
  bottom: 100px;
  margin-left: 28.1%;
  opacity: 0;
  color: rgb(255, 255, 255);
  border: 1.2px solid rgba(255, 255, 255, 1);
  padding: 11px 16px 13px 16px;
  border-radius: 2px;
  text-decoration: none;
  font-family: Open Sans;
  font-size: calc(10px + (24 - 10) * ((100vh - 640px) / (1440 - 640)));
  font-weight: 800;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  will-change: opacity;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-out;

  &:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

.fullresume.download {
    height: auto;
    width: auto;
    position: fixed;
    bottom: 100px;
    margin-left: 28.1%;
    color: rgb(255, 255, 255);
    opacity: 1;
    border: 1.2px solid rgba(255, 255, 255, 1);
    padding: 11px 16px 13px 16px;
    border-radius: 2px;
    text-decoration: none;
    font-family: Open Sans;
    font-size: calc(10px + (24 - 10) * ((100vh - 640px) / (1440 - 640)));
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    will-change: opacity;
    transition-property: opacity;
    transition-duration: 1000ms;
    transition-delay: 500ms;
    transition-timing-function: ease-in-out;
  
    &:hover {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
}

.clickedlink.home {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  will-change: transform;
  transition-property: background-color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;

  .box1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    will-change: transform;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    .cases {
      height: auto;
      width: auto;
      margin-bottom: 2%;
      margin-left: calc(60px + (180 - 60) * ((100vw - 1024px) / (2560 - 1024)));
      display: flex;
      flex-direction: row;

      .case1 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(500%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }

      .case2 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(300%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }

      .case3 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(100%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }
    }
  }

  .box2 {
    @extend %box2;
    will-change: transform;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    .resumecontent {
      height: auto;
      width: 265px;
      margin-top: 140px;
      margin-bottom: 220px;
      margin-left: 28%;

      .h1 {
        text-decoration: none;
        color: #ffffff;
        font-family: gastromond, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.06em;
        margin-bottom: 15px;
      }

      .h2 {
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.04em;
        margin-bottom: 15px;
      }

      .h3 {
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.01em;
        line-height: 1.4em;
        margin-bottom: 15px;
      }

      .separate {
        margin-bottom: 32px;
      }

      .m1 {
        line-height: 1.4em;
      }
    }
  }
}

.clickedlink.studies {
  background-color: rgba(0, 0, 0, 0.92);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  will-change: transform;
  transition-property: background-color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;

  .box1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    will-change: transform;
    transform: translateY(0%);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    .cases {
      height: auto;
      width: auto;
      margin-bottom: 2%;
      margin-left: calc(60px + (180 - 60) * ((100vw - 1024px) / (2560 - 1024)));
      display: flex;
      flex-direction: row;

      .case1 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(0%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }

      .case2 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(0%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }

      .case3 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(0%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }
    }
  }

  .box2 {
    @extend %box2;
    will-change: transform;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    .resumecontent {
      height: auto;
      width: 265px;
      margin-top: 140px;
      margin-bottom: 220px;
      margin-left: 28%;

      .h1 {
        text-decoration: none;
        color: #ffffff;
        font-family: gastromond, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.06em;
        margin-bottom: 15px;
      }

      .h2 {
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.04em;
        margin-bottom: 15px;
      }

      .h3 {
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.01em;
        line-height: 1.4em;
        margin-bottom: 15px;
      }

      .separate {
        margin-bottom: 32px;
      }

      .m1 {
        line-height: 1.4em;
      }
    }
  }
}

.clickedlink.resume {
  background-color: rgba(0, 0, 0, 0.92);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  will-change: transform;
  transition-property: background-color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;

  .box1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    will-change: transform;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    .cases {
      height: auto;
      width: auto;
      margin-bottom: 2%;
      margin-left: calc(60px + (180 - 60) * ((100vw - 1024px) / (2560 - 1024)));
      display: flex;
      flex-direction: row;

      .case1 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(500%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }

      .case2 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(300%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }

      .case3 {
        @extend %casecard;
        will-change: transform;
        transition-property: transform;
        transform: translateY(100%);
        transition-duration: 1000ms;
        transition-delay: 100ms;
        transition-timing-function: ease-in-out;
      }
    }
  }

  .box2 {
    @extend %box2;
    will-change: transform;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    .resumecontent {
      height: auto;
      width: auto;
      margin-top: 140px;
      margin-bottom: 220px;
      margin-left: 28%;

      .h1 {
        text-decoration: none;
        color: #ffffff;
        font-family: gastromond, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: calc(14px + (32 - 14) * ((100vw - 1024px) / (2560 - 1024)));
        letter-spacing: 0.06em;
        margin-bottom: calc(20px + (44 - 20) * ((100vw - 1024px) / (2560 - 1024)));
      }

      .h2 {
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: calc(10px + (24 - 10) * ((100vw - 1024px) / (2560 - 1024)));
        letter-spacing: 0.04em;
        margin-bottom: 15px;
      }

      .h3 {
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: calc(10px + (24 - 10) * ((100vw - 1024px) / (2560 - 1024)));
        letter-spacing: 0.01em;
        line-height: 1.4em;
        margin-bottom: 15px;
      }

      .separate {
        margin-bottom: 32px;
      }

      .m1 {
        line-height: 1.4em;
      }
    }
  }
}
