/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya:ital,wght@0,400;0,800;1,400;1,800;1,900&family=Chivo:wght@300;400;700;900&display=swap");
/* line 5, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'kalosregular';
  src: url("kalos-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 23, ../sass/screen.scss */
.nav .link_container .link, .nav .link_container #tooltip {
  text-decoration: none;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: .7;
  color: #0A0A0A;
}

/* line 33, ../sass/screen.scss */
.nav .link_container .link, .nav .link_container #tooltip {
  height: auto;
  width: auto;
  cursor: pointer;
  color: #0A0A0A;
}

/* line 41, ../sass/screen.scss */
.casestudies .project_block {
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 24px;
}
/* line 50, ../sass/screen.scss */
.casestudies .project_block .name-details {
  height: fit-content;
  width: fit-content;
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
/* line 59, ../sass/screen.scss */
.casestudies .project_block .name-details .name {
  width: fit-content;
  height: fit-content;
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  line-height: .7;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  font-variant: small-caps;
  color: #0A0A0A;
}
/* line 76, ../sass/screen.scss */
.casestudies .project_block .name-details .details {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
/* line 84, ../sass/screen.scss */
.casestudies .project_block .name-details .details .container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
/* line 93, ../sass/screen.scss */
.casestudies .project_block .name-details .details .container .top {
  width: fit-content;
  height: fit-content;
  position: relative;
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: .7;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.08em;
  color: #0A0A0A;
}
/* line 110, ../sass/screen.scss */
.casestudies .project_block .name-details .details .container .bottom {
  width: fit-content;
  height: fit-content;
  position: relative;
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: .8;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.1em;
  color: #0A0A0A;
}
/* line 130, ../sass/screen.scss */
.casestudies .project_block .image_link_about {
  height: fit-content;
  width: fit-content;
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
/* line 139, ../sass/screen.scss */
.casestudies .project_block .image_link_about .image_link {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 24px;
}
/* line 148, ../sass/screen.scss */
.casestudies .project_block .image_link_about .image_link .image {
  height: auto;
  width: 708px;
  border-radius: 2px;
}
/* line 155, ../sass/screen.scss */
.casestudies .project_block .image_link_about .image_link .project_link {
  font-family: 'Chivo';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: .7;
  word-spacing: 0.2em;
  text-align: center;
  color: #0A0A0A;
  cursor: pointer;
  text-decoration-line: none;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  writing-mode: vertical-lr;
}
/* line 173, ../sass/screen.scss */
.casestudies .project_block .image_link_about .image_link .project_link:hover {
  color: #0A0A0A;
  text-decoration-line: underline;
}
/* line 180, ../sass/screen.scss */
.casestudies .project_block .image_link_about .about {
  width: 708px;
  height: fit-content;
  font-family: 'Chivo';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  color: #0A0A0A;
}
/* line 192, ../sass/screen.scss */
.casestudies .project_block .image_link_about .about .higlights {
  font-style: italic;
  font-weight: 700;
}

/* line 201, ../sass/screen.scss */
html {
  height: fit-content;
  width: 100vw;
}

/* line 206, ../sass/screen.scss */
body {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CCE9FA;
}

/* line 216, ../sass/screen.scss */
.rp_logo {
  width: auto;
  z-index: 3;
  height: 5vh;
  position: fixed;
  top: 6.3vh;
  display: flex;
  align-self: center;
}

/* line 226, ../sass/screen.scss */
.case_studies_arrow {
  position: absolute;
  bottom: 2vh;
  right: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
}

/* line 232, ../sass/screen.scss */
.top_line {
  height: 13.5vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  background: rgba(204, 233, 250, 0.75);
  border-bottom: 1px solid #0A0A0A;
  backdrop-filter: blur(14px);
}

/* line 243, ../sass/screen.scss */
.my_name {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  font-size: calc(16px + (24.69 - 16) * ((100vw - 640px) / (1920 - 640)));
  line-height: 17.28px;
  margin-top: 9.76vh;
  margin-left: calc(24px + (56 - 24) * ((100vw - 640px) / (1920 - 640)));
  cursor: pointer;
}

/* line 258, ../sass/screen.scss */
.nav {
  height: fit-content;
  width: auto;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin-top: 9.76vh;
  margin-right: calc(24px + (56 - 24) * ((100vw - 640px) / (1920 - 640)));
}
/* line 270, ../sass/screen.scss */
.nav .overlap {
  margin-right: calc(0px + (-16 - 0) * ((100vw - 640px) / (1920 - 640)));
}
/* line 274, ../sass/screen.scss */
.nav .link_container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: flex-end;
}
/* line 281, ../sass/screen.scss */
.nav .link_container .link {
  font-weight: 400;
  font-size: calc(16px + (24.69 - 16) * ((100vw - 640px) / (1920 - 640)));
}
/* line 288, ../sass/screen.scss */
.nav .link_container .right:hover + #tooltip {
  visibility: visible;
}
/* line 294, ../sass/screen.scss */
.nav .link_container .left:hover + #tooltip {
  visibility: visible;
}
/* line 299, ../sass/screen.scss */
.nav .link_container #tooltip {
  visibility: hidden;
  padding: 1.5vh 1vw;
  position: relative;
  text-align: center;
  color: #CCE9FA;
  background-color: #0A0A0A;
}

/* line 311, ../sass/screen.scss */
.portfolio-hero {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* line 320, ../sass/screen.scss */
.portfolio-hero .hero_intro-text {
  height: fit-content;
  width: 37.5vw;
  margin-top: 24vh;
  margin-top: 36vh;
  align-self: center;
}
/* line 328, ../sass/screen.scss */
.portfolio-hero .hero_scroll-down {
  height: 8vh;
  width: fit-content;
  margin-bottom: 6vh;
  align-self: flex-end;
  transform: translateX(-17px);
  animation-name: scrolldown;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes scrolldown {
  from {
    transform: translateX(-17px);
  }
  to {
    transform: translateX(2212px);
  }
}
/* line 352, ../sass/screen.scss */
.casestudies {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 60px;
  margin-top: 24vh;
  margin-bottom: 15vh;
  transform: translateX(-67.5px);
}

/* line 370, ../sass/screen.scss */
.pagination {
  height: 57px;
  width: 3px;
  position: fixed;
  z-index: 7;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  right: 1vw;
  top: 45vh;
}
/* line 381, ../sass/screen.scss */
.pagination .on {
  opacity: 1;
}
/* line 385, ../sass/screen.scss */
.pagination .off {
  opacity: .5;
}
/* line 389, ../sass/screen.scss */
.pagination .p_one {
  height: 15px;
  width: auto;
  background-color: #83FFCB;
}
/* line 395, ../sass/screen.scss */
.pagination .p_two {
  height: 15px;
  width: auto;
  background-color: #83FFCB;
}
/* line 401, ../sass/screen.scss */
.pagination .p_three {
  height: 15px;
  width: auto;
  opacity: .5;
  background-color: #83FFCB;
}

/* line 409, ../sass/screen.scss */
.figma_iframes {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
/* line 420, ../sass/screen.scss */
.figma_iframes .close_figma {
  position: absolute;
  top: 1vh;
  left: 4vw;
  margin-top: 40px;
  z-index: 11;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 12px 16px;
  font-family: 'Chivo';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: .7;
  text-align: center;
  border: 1px solid #83FFCB;
  color: #CCE9FA;
  cursor: pointer;
  text-decoration: none;
}
/* line 444, ../sass/screen.scss */
.figma_iframes .close_figma:hover {
  background-color: #83FFCB;
  color: #0A0A0A;
}
/* line 450, ../sass/screen.scss */
.figma_iframes .coming_soon {
  position: fixed;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-self: center;
  flex-direction: row;
  column-gap: 6px;
  color: #CCE9FA;
  margin-bottom: 15vh;
}
/* line 461, ../sass/screen.scss */
.figma_iframes .coming_soon .case {
  height: fit-content;
  width: fit-content;
  font-family: 'Chivo';
  font-weight: 900;
  font-size: 32px;
  line-height: .8;
  letter-spacing: -0.01em;
}
/* line 471, ../sass/screen.scss */
.figma_iframes .coming_soon .studies {
  height: fit-content;
  width: fit-content;
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  font-size: 34px;
  line-height: .8;
  letter-spacing: 0.03em;
}

/* line 485, ../sass/screen.scss */
.show {
  visibility: visible;
}

/* line 490, ../sass/screen.scss */
.kalos {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #040600;
  position: relative;
}
/* line 498, ../sass/screen.scss */
.kalos .hero_cut_wrapper {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}
/* line 505, ../sass/screen.scss */
.kalos .hero_cut_wrapper #hero_cut {
  width: 94.5vw;
  position: relative;
  top: 0;
  left: 0;
}
/* line 512, ../sass/screen.scss */
.kalos .hero_cut_wrapper .close_figma {
  position: absolute;
  top: 1vh;
  left: 4vw;
  margin-top: 40px;
  z-index: 11;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 12px 16px;
  font-family: 'Chivo';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: .7;
  text-align: center;
  border: 2px solid #6700B8;
  border-radius: 2.5px;
  color: #040600;
  cursor: pointer;
  text-decoration: none;
}
/* line 537, ../sass/screen.scss */
.kalos .hero_cut_wrapper .close_figma:hover {
  background-color: #040600;
  font-weight: 300;
  color: #F9F9F9;
}
/* line 544, ../sass/screen.scss */
.kalos .hero_cut_wrapper .kalos_intro {
  height: fit-content;
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 28vh;
  margin-left: 10vw;
  margin-bottom: 390px;
}
/* line 554, ../sass/screen.scss */
.kalos .hero_cut_wrapper .kalos_intro #type_name {
  height: fit-content;
  width: 80%;
}
/* line 559, ../sass/screen.scss */
.kalos .hero_cut_wrapper .kalos_intro .type_designer {
  font-family: 'kalosregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16.9px;
  letter-spacing: 1.5px;
  margin-top: 12px;
  color: #6700B8;
}
/* line 569, ../sass/screen.scss */
.kalos .hero_cut_wrapper .kalos_intro .download_kalos {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 12px 16px;
  font-family: 'Chivo';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: .7;
  text-align: center;
  border: 2px solid #6700B8;
  border-radius: 2.5px;
  color: #040600;
  cursor: pointer;
  text-decoration: none;
}
/* line 590, ../sass/screen.scss */
.kalos .hero_cut_wrapper .kalos_intro .download_kalos:hover {
  background-color: #040600;
  font-weight: 300;
  color: #F9F9F9;
}
/* line 597, ../sass/screen.scss */
.kalos .hero_cut_wrapper .kalos_intro .type_intro_one {
  font-family: 'kalosregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16.9px;
  line-height: 152.02%;
  letter-spacing: 1.5px;
  color: #040600;
  margin-top: 3vh;
}
/* line 609, ../sass/screen.scss */
.kalos .hero_cut_wrapper .type_intro_two {
  position: absolute;
  align-self: flex-end;
  font-family: 'kalosregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16.9px;
  line-height: 152.02%;
  letter-spacing: 1.5px;
  color: #F9F9F9;
  bottom: 293px;
  right: 9vw;
}
/* line 624, ../sass/screen.scss */
.kalos .content_wrapper {
  height: fit-content;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10vh;
}
/* line 633, ../sass/screen.scss */
.kalos .content_wrapper .vimeo {
  width: 65%;
  height: fit-content;
  padding: 37.25% 0 0 0;
  margin-top: 10vh;
  position: relative;
}
/* line 641, ../sass/screen.scss */
.kalos .content_wrapper .letter_grid {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
/* line 648, ../sass/screen.scss */
.kalos .content_wrapper .letter_grid .grid_title {
  height: fit-content;
  width: fit-content;
  font-family: 'kalosregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16.9px;
  letter-spacing: 1.5px;
  color: #F9F9F9;
  margin-left: 14.25vw;
}
/* line 660, ../sass/screen.scss */
.kalos .content_wrapper .letter_grid .grid {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  row-gap: 8px;
  margin-left: 14.25vw;
}
/* line 668, ../sass/screen.scss */
.kalos .content_wrapper .letter_grid .grid .row {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
/* line 675, ../sass/screen.scss */
.kalos .content_wrapper .letter_grid .grid .row .block {
  height: 9vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6700B8;
  font-family: 'kalosregular';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #F9F9F9;
}
/* line 699, ../sass/screen.scss */
.kalos .content_wrapper .uppercase .grid .row .block {
  border: 1px solid #488A40;
  text-transform: uppercase;
}
/* line 709, ../sass/screen.scss */
.kalos .content_wrapper .symbols .grid {
  margin-left: 25.25vw;
}
/* line 713, ../sass/screen.scss */
.kalos .content_wrapper .symbols .grid_title {
  margin-left: 25.25vw;
}
/* line 720, ../sass/screen.scss */
.kalos .content_wrapper .punctuation .grid {
  margin-left: 25.25vw;
}
/* line 724, ../sass/screen.scss */
.kalos .content_wrapper .punctuation .grid_title {
  margin-left: 25.25vw;
}
/* line 732, ../sass/screen.scss */
.kalos .content_wrapper .punctuation .grid .row .block {
  border: 1px solid #488A40;
}
/* line 740, ../sass/screen.scss */
.kalos .content_wrapper .floats {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}
/* line 748, ../sass/screen.scss */
.kalos .content_wrapper .floats .float_characters {
  height: fit-content;
  width: fit-content;
  font-family: 'kalosregular';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: .6;
  padding-top: 2.2vh;
  color: #F9F9F9;
}
/* line 762, ../sass/screen.scss */
.kalos .content_wrapper .numbers {
  position: relative;
  letter-spacing: .4em;
  margin-top: 4vh;
}
/* line 768, ../sass/screen.scss */
.kalos .content_wrapper .shots {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10vh;
  padding-bottom: 10vh;
}
/* line 778, ../sass/screen.scss */
.kalos .content_wrapper .shots #mock_up {
  height: fit-content;
  width: 60%;
}
