/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://use.typekit.net/qly3yul.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;700&display=swap");
/* line 5, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .case_details .heading, .casestudies.inactive .cases .case_2 .case_info .case_details .heading, .casestudies.inactive .cases .case_3 .case_info .case_details .heading, .casestudies.active .cases .case_1 .case_info .case_details .heading, .casestudies.active .cases .case_2 .case_info .case_details .heading, .casestudies.active .cases .case_3 .case_info .case_details .heading, .casestudies.inactive .cases .case_1 .case_info .case_details .subheading, .casestudies.inactive .cases .case_2 .case_info .case_details .subheading, .casestudies.inactive .cases .case_3 .case_info .case_details .subheading, .casestudies.active .cases .case_1 .case_info .case_details .subheading, .casestudies.active .cases .case_2 .case_info .case_details .subheading, .casestudies.active .cases .case_3 .case_info .case_details .subheading, .logo_nav.h .nav .cs_link, .logo_nav.h .nav .r_link, .logo_nav.cs .nav .cs_link, .logo_nav.cs .nav .r_link, .logo_nav.r .nav .cs_link, .logo_nav.r .nav .r_link, .myname, .jobtitle, .mynumber, .myemail, .resume.inactive .content .h2, .resume.inactive .content .h3, .resume.inactive .fullresume, .resume.active .content .h2, .resume.active .content .h3, .resume.active .fullresume {
  text-decoration: none;
  font-family: Noto Sans Mono;
  font-weight: 300;
  font-size: calc((10px * 1) + ((10 * 3.53) - (10 * 1)) * ((100vh - 568px) / (2520 - 568)));
  letter-spacing: 0.1em;
  line-height: .9;
  color: #1A1C21;
}

/* line 29, ../sass/screen.scss */
.casestudies.inactive .cases .case_1, .casestudies.inactive .cases .case_2, .casestudies.inactive .cases .case_3, .casestudies.active .cases .case_1, .casestudies.active .cases .case_2, .casestudies.active .cases .case_3 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
/* line 36, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info, .casestudies.inactive .cases .case_2 .case_info, .casestudies.inactive .cases .case_3 .case_info, .casestudies.active .cases .case_1 .case_info, .casestudies.active .cases .case_2 .case_info, .casestudies.active .cases .case_3 .case_info {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
/* line 44, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .case_number, .casestudies.inactive .cases .case_2 .case_info .case_number, .casestudies.inactive .cases .case_3 .case_info .case_number, .casestudies.active .cases .case_1 .case_info .case_number, .casestudies.active .cases .case_2 .case_info .case_number, .casestudies.active .cases .case_3 .case_info .case_number {
  height: auto;
  width: auto;
  font-family: gastromond, sans-serif;
  font-weight: 400;
  font-size: calc((14px * 1) + ((14 * 3.53) - (14 * 1)) * ((100vw - 320px) / (4480 - 320)));
  line-height: .2;
  letter-spacing: -0.0765em;
  color: #1A1C21;
  align-self: flex-end;
  -moz-font-feature-settings: 'tnum' on, 'lnum' on;
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
  font-feature-settings: 'tnum' on, 'lnum' on;
}
/* line 58, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .case_number .zero, .casestudies.inactive .cases .case_2 .case_info .case_number .zero, .casestudies.inactive .cases .case_3 .case_info .case_number .zero, .casestudies.active .cases .case_1 .case_info .case_number .zero, .casestudies.active .cases .case_2 .case_info .case_number .zero, .casestudies.active .cases .case_3 .case_info .case_number .zero {
  -moz-font-feature-settings: 'tnum' on, 'onum' on;
  -webkit-font-feature-settings: 'tnum' on, 'onum' on;
  font-feature-settings: 'tnum' on, 'onum' on;
}
/* line 65, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .case_details, .casestudies.inactive .cases .case_2 .case_info .case_details, .casestudies.inactive .cases .case_3 .case_info .case_details, .casestudies.active .cases .case_1 .case_info .case_details, .casestudies.active .cases .case_2 .case_info .case_details, .casestudies.active .cases .case_3 .case_info .case_details {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
}
/* line 72, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .case_details .heading, .casestudies.inactive .cases .case_2 .case_info .case_details .heading, .casestudies.inactive .cases .case_3 .case_info .case_details .heading, .casestudies.active .cases .case_1 .case_info .case_details .heading, .casestudies.active .cases .case_2 .case_info .case_details .heading, .casestudies.active .cases .case_3 .case_info .case_details .heading {
  font-weight: 700;
  font-size: calc((6px * 1) + ((6 * 3.53) - (6 * 1)) * ((100vw - 320px) / (4480 - 320)));
}
/* line 78, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .case_details .hed_pad, .casestudies.inactive .cases .case_2 .case_info .case_details .hed_pad, .casestudies.inactive .cases .case_3 .case_info .case_details .hed_pad, .casestudies.active .cases .case_1 .case_info .case_details .hed_pad, .casestudies.active .cases .case_2 .case_info .case_details .hed_pad, .casestudies.active .cases .case_3 .case_info .case_details .hed_pad {
  padding-bottom: calc((4px * 1) + ((4 * 3.53) - (4 * 1)) * ((100vw - 320px) / (4480 - 320)));
}
/* line 83, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .case_details .subheading, .casestudies.inactive .cases .case_2 .case_info .case_details .subheading, .casestudies.inactive .cases .case_3 .case_info .case_details .subheading, .casestudies.active .cases .case_1 .case_info .case_details .subheading, .casestudies.active .cases .case_2 .case_info .case_details .subheading, .casestudies.active .cases .case_3 .case_info .case_details .subheading {
  font-size: calc((6px * 1) + ((6 * 3.53) - (6 * 1)) * ((100vw - 320px) / (4480 - 320)));
}
/* line 88, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .case_details .sub_pad, .casestudies.inactive .cases .case_2 .case_info .case_details .sub_pad, .casestudies.inactive .cases .case_3 .case_info .case_details .sub_pad, .casestudies.active .cases .case_1 .case_info .case_details .sub_pad, .casestudies.active .cases .case_2 .case_info .case_details .sub_pad, .casestudies.active .cases .case_3 .case_info .case_details .sub_pad {
  padding-bottom: calc((10px * 1) + ((10 * 3.53) - (10 * 1)) * ((100vw - 320px) / (4480 - 320)));
}
/* line 93, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 .case_info .title, .casestudies.inactive .cases .case_2 .case_info .title, .casestudies.inactive .cases .case_3 .case_info .title, .casestudies.active .cases .case_1 .case_info .title, .casestudies.active .cases .case_2 .case_info .title, .casestudies.active .cases .case_3 .case_info .title {
  font-family: gastromond, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: .9;
  font-size: calc((12px * 1) + ((12 * 3.53) - (12 * 1)) * ((100vw - 320px) / (4480 - 320)));
  white-space: nowrap;
  align-self: flex-end;
}
/* line 105, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 a, .casestudies.inactive .cases .case_2 a, .casestudies.inactive .cases .case_3 a, .casestudies.active .cases .case_1 a, .casestudies.active .cases .case_2 a, .casestudies.active .cases .case_3 a {
  height: auto;
  width: auto;
  cursor: pointer;
  text-decoration: none;
  color: none;
}
/* line 112, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 a:focus, .casestudies.inactive .cases .case_2 a:focus, .casestudies.inactive .cases .case_3 a:focus, .casestudies.active .cases .case_1 a:focus, .casestudies.active .cases .case_2 a:focus, .casestudies.active .cases .case_3 a:focus {
  outline: none;
}
/* line 116, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 a .case_pic, .casestudies.inactive .cases .case_2 a .case_pic, .casestudies.inactive .cases .case_3 a .case_pic, .casestudies.active .cases .case_1 a .case_pic, .casestudies.active .cases .case_2 a .case_pic, .casestudies.active .cases .case_3 a .case_pic {
  height: calc((239px * .75) + ((239 * 1.5) - (239 * .75)) * ((100vw - 1024px) / (2560 - 1024)));
  width: auto;
}

/* line 123, ../sass/screen.scss */
html,
body {
  overscroll-behavior: none;
  background-color: #ECEDF1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 131, ../sass/screen.scss */
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

/* line 136, ../sass/screen.scss */
.herowords.inactive {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  position: fixed;
  top: 40vh;
  opacity: 0;
  filter: blur(6px);
  will-change: opacity filter;
  transition-property: opacity filter;
  transition-duration: 900ms;
  transition-timing-function: ease-in-out;
}
/* line 152, ../sass/screen.scss */
.herowords.inactive .intuition {
  height: auto;
  width: auto;
  position: relative;
  text-decoration: none;
  font-family: Noto Sans Mono, sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  line-height: .9;
  padding-right: .15%;
  color: #1A1C21;
  font-size: calc((18px * .75) + ((18 * 1.5) - (18 * .75)) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(0px + (0 - 0) * ((100vw - 300px) / (1600 - 300)));
  margin-right: calc(0px + (0 - 0) * ((100vw - 300px) / (1600 - 300)));
}
/* line 168, ../sass/screen.scss */
.herowords.inactive .compassion {
  height: auto;
  width: auto;
  position: relative;
  text-decoration: none;
  font-family: gastromond, sans-serif;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: .9;
  color: #1A1C21;
  font-size: calc((22px * .75) + ((22 * 1.5) - (22 * .75)) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
  margin-right: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
}
/* line 183, ../sass/screen.scss */
.herowords.inactive .curiosity {
  height: auto;
  width: auto;
  position: relative;
  text-decoration: none;
  font-family: Noto Sans Mono, sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  line-height: .9;
  padding-right: 2%;
  color: #1A1C21;
  font-size: calc((18px * .75) + ((18 * 1.5) - (18 * .75)) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(0px + (0 - 0) * ((100vw - 300px) / (1600 - 300)));
  margin-right: calc(0px + (0 - 0) * ((100vw - 300px) / (1600 - 300)));
}

/* line 200, ../sass/screen.scss */
.herowords.active {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  position: fixed;
  top: 40vh;
  opacity: 1;
  filter: blur(0px);
  will-change: opacity filter;
  transition-property: opacity filter;
  transition-duration: 900ms;
  transition-timing-function: ease-in-out;
}
/* line 216, ../sass/screen.scss */
.herowords.active .intuition {
  height: auto;
  width: auto;
  position: relative;
  text-decoration: none;
  font-family: Noto Sans Mono, sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  line-height: .9;
  padding-right: .15%;
  color: #1A1C21;
  font-size: calc((18px * .75) + ((18 * 1.5) - (18 * .75)) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(0px + (0 - 0) * ((100vw - 300px) / (1600 - 300)));
  margin-right: calc(0px + (0 - 0) * ((100vw - 300px) / (1600 - 300)));
}
/* line 232, ../sass/screen.scss */
.herowords.active .compassion {
  height: auto;
  width: auto;
  position: relative;
  text-decoration: none;
  font-family: gastromond, sans-serif;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: .9;
  color: #1A1C21;
  font-size: calc((22px * .75) + ((22 * 1.5) - (22 * .75)) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
  margin-right: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
}
/* line 247, ../sass/screen.scss */
.herowords.active .curiosity {
  height: auto;
  width: auto;
  position: relative;
  text-decoration: none;
  font-family: Noto Sans Mono, sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  line-height: .9;
  padding-right: 2%;
  color: #1A1C21;
  font-size: calc((18px * .75) + ((18 * 1.5) - (18 * .75)) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(0px + (0 - 0) * ((100vw - 300px) / (1600 - 300)));
  margin-right: calc(0px + (0 - 0) * ((100vw - 300px) / (1600 - 300)));
}

/* line 264, ../sass/screen.scss */
.logo_nav.h {
  z-index: 3;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  position: fixed;
  top: 0;
}
/* line 277, ../sass/screen.scss */
.logo_nav.h .logo {
  height: auto;
  width: calc(24px + (48 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-left: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  cursor: pointer;
  opacity: .2;
}
/* line 285, ../sass/screen.scss */
.logo_nav.h .nav {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  margin-right: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
}
/* line 293, ../sass/screen.scss */
.logo_nav.h .nav .cs_link {
  height: auto;
  width: auto;
  cursor: pointer;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
/* line 301, ../sass/screen.scss */
.logo_nav.h .nav .cs_link:hover {
  font-weight: 700;
}
/* line 305, ../sass/screen.scss */
.logo_nav.h .nav .r_link {
  height: auto;
  width: auto;
  cursor: pointer;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
/* line 313, ../sass/screen.scss */
.logo_nav.h .nav .r_link:hover {
  font-weight: 700;
}

/* line 320, ../sass/screen.scss */
.logo_nav.cs {
  z-index: 3;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  position: fixed;
  top: 0;
}
/* line 333, ../sass/screen.scss */
.logo_nav.cs .logo {
  height: auto;
  width: calc(24px + (48 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-left: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  cursor: pointer;
  opacity: .2;
}
/* line 341, ../sass/screen.scss */
.logo_nav.cs .nav {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  margin-right: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
}
/* line 349, ../sass/screen.scss */
.logo_nav.cs .nav .cs_link {
  height: auto;
  width: auto;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
/* line 358, ../sass/screen.scss */
.logo_nav.cs .nav .cs_link:hover {
  font-weight: 700;
}
/* line 362, ../sass/screen.scss */
.logo_nav.cs .nav .r_link {
  height: auto;
  width: auto;
  cursor: pointer;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
/* line 370, ../sass/screen.scss */
.logo_nav.cs .nav .r_link:hover {
  font-weight: 700;
}

/* line 377, ../sass/screen.scss */
.logo_nav.r {
  z-index: 3;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  position: fixed;
  top: 0;
}
/* line 390, ../sass/screen.scss */
.logo_nav.r .logo {
  height: auto;
  width: calc(24px + (48 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-left: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  cursor: pointer;
  opacity: .2;
}
/* line 398, ../sass/screen.scss */
.logo_nav.r .nav {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  margin-right: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
}
/* line 406, ../sass/screen.scss */
.logo_nav.r .nav .cs_link {
  height: auto;
  width: auto;
  cursor: pointer;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
/* line 414, ../sass/screen.scss */
.logo_nav.r .nav .cs_link:hover {
  font-weight: 700;
}
/* line 418, ../sass/screen.scss */
.logo_nav.r .nav .r_link {
  height: auto;
  width: auto;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
/* line 427, ../sass/screen.scss */
.logo_nav.r .nav .r_link:hover {
  font-weight: 700;
}

/* line 434, ../sass/screen.scss */
.myname {
  z-index: 3;
  height: auto;
  width: auto;
  position: fixed;
  bottom: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  left: calc(48px + (120 - 48) * ((100vh - 640px) / (1440 - 640)));
  font-weight: 300;
  cursor: text;
  letter-spacing: 0.24em;
}
/* line 446, ../sass/screen.scss */
.myname::selection {
  background: #ffa910;
  color: black;
}

/* line 452, ../sass/screen.scss */
.jobtitle {
  z-index: 3;
  height: auto;
  width: auto;
  position: fixed;
  bottom: -3px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  left: -2px;
  cursor: text;
  margin-left: calc(24px + (65 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-bottom: calc(48px + (128 - 48) * ((100vh - 640px) / (1440 - 640)));
  letter-spacing: 0.24em;
}
/* line 467, ../sass/screen.scss */
.jobtitle::selection {
  background: #ffa910;
  color: black;
}

/* line 473, ../sass/screen.scss */
.mynumber {
  z-index: 3;
  height: auto;
  width: auto;
  position: fixed;
  bottom: -1px;
  writing-mode: vertical-lr;
  margin-right: calc(24px + (83 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-bottom: calc(48px + (128 - 48) * ((100vh - 640px) / (1440 - 640)));
  right: -2px;
  cursor: text;
  letter-spacing: 0.24em;
}
/* line 487, ../sass/screen.scss */
.mynumber::selection {
  background: #2261e0;
}

/* line 492, ../sass/screen.scss */
.myemail {
  z-index: 3;
  height: auto;
  width: auto;
  position: fixed;
  bottom: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  right: calc(48px + (120 - 48) * ((100vh - 640px) / (1440 - 640)));
  cursor: text;
  letter-spacing: 0.24em;
}
/* line 503, ../sass/screen.scss */
.myemail::selection {
  background: #2261e0;
}

/* line 508, ../sass/screen.scss */
.resume.inactive {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* line 519, ../sass/screen.scss */
.resume.inactive::-webkit-scrollbar {
  display: none;
}
/* line 523, ../sass/screen.scss */
.resume.inactive .content {
  height: auto;
  width: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: 28vw;
  transform: translateX(100%);
  will-change: transform;
  transition-property: transform;
  transition-duration: 700ms;
  transition-delay: 200ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 536, ../sass/screen.scss */
.resume.inactive .content .h1 {
  font-family: Gastromond;
  font-weight: 400;
  font-size: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
  letter-spacing: 0.06em;
}
/* line 543, ../sass/screen.scss */
.resume.inactive .content .h2 {
  font-weight: 700;
  font-size: calc((10px * 1) + ((10 * 3.53) - (10 * 1)) * ((100vh - 568px) / (2520 - 568)));
  letter-spacing: 0.1em;
}
/* line 550, ../sass/screen.scss */
.resume.inactive .content .h3 {
  font-size: calc((12px * 1) + ((12 * 3.53) - (12 * 1)) * ((100vh - 568px) / (2520 - 568)));
  line-height: calc((18px * 1) + ((18 * 3.53) - (18 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 556, ../sass/screen.scss */
.resume.inactive .content .line_one {
  margin-top: none;
}
/* line 560, ../sass/screen.scss */
.resume.inactive .content .line_two {
  margin-top: -.25%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 565, ../sass/screen.scss */
.resume.inactive .content .line_three {
  margin-top: -.72%;
  padding-top: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 570, ../sass/screen.scss */
.resume.inactive .content .line_four {
  margin-top: -1.25%;
  padding-top: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 575, ../sass/screen.scss */
.resume.inactive .content .line_five {
  margin-top: -.75%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 580, ../sass/screen.scss */
.resume.inactive .content .line_six {
  margin-top: -.67%;
  padding-top: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 585, ../sass/screen.scss */
.resume.inactive .content .line_seven {
  margin-top: -.97%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 590, ../sass/screen.scss */
.resume.inactive .content .line_eight {
  margin-top: -.2%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 595, ../sass/screen.scss */
.resume.inactive .content .line_nine {
  margin-top: -.7%;
  padding-top: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 600, ../sass/screen.scss */
.resume.inactive .content .line_ten {
  margin-top: -.97%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 605, ../sass/screen.scss */
.resume.inactive .content .line_eleven {
  margin-top: -.2%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 610, ../sass/screen.scss */
.resume.inactive .content .line_twelve {
  margin-top: -.4%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 615, ../sass/screen.scss */
.resume.inactive .content .line_thirteen {
  margin-top: -.8%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
  line-height: calc((18px * 1) + ((18 * 3.53) - (18 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 622, ../sass/screen.scss */
.resume.inactive .fullresume {
  position: fixed;
  bottom: 18%;
  margin-left: 28%;
  padding-top: calc((15px * 1) + ((15 * 3.53) - (15 * 1)) * ((100vh - 568px) / (2520 - 568)));
  padding-bottom: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
  padding-left: calc((40px * 1) + ((40 * 3.53) - (40 * 1)) * ((100vh - 568px) / (2520 - 568)));
  padding-right: calc((40px * 1) + ((40 * 3.53) - (40 * 1)) * ((100vh - 568px) / (2520 - 568)));
  border-radius: 40px;
  border: 1.2px solid #1A1C21;
  font-size: calc((10px * 1) + ((10 * 3.53) - (10 * 1)) * ((100vh - 568px) / (2520 - 568)));
  font-weight: 700;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #1A1C21;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  will-change: transform opacity;
  transform: translateY(180%);
  transition-property: transform opacity;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}
/* line 647, ../sass/screen.scss */
.resume.inactive .fullresume:hover {
  background-color: #1A1C21;
  color: #ECEDF1;
  transition-duration: 300ms;
}
/* line 654, ../sass/screen.scss */
.resume.inactive .resume_top_fade {
  height: 20%;
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 1;
  background: linear-gradient(180deg, #ECEDF1 46.15%, #ecedf100 100%);
  will-change: opacity;
  transition-property: opacity;
  transition-duration: 1ms;
  transition-delay: 900ms;
  transition-timing-function: ease-in-out;
}
/* line 668, ../sass/screen.scss */
.resume.inactive .resume_bottom_fade {
  height: 34%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  opacity: 1;
  background: linear-gradient(360deg, #ECEDF1 82%, #ecedf100 100%);
  will-change: opacity;
  transition-property: opacity;
  transition-duration: 1ms;
  transition-delay: 900ms;
  transition-timing-function: ease-in-out;
}

/* line 683, ../sass/screen.scss */
.resume.active {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* line 695, ../sass/screen.scss */
.resume.active::-webkit-scrollbar {
  display: none;
}
/* line 699, ../sass/screen.scss */
.resume.active .content {
  height: auto;
  width: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: 28vw;
  will-change: transform;
  transform: translateX(0%);
  transition-property: transform;
  transition-duration: 700ms;
  transition-delay: 200ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 713, ../sass/screen.scss */
.resume.active .content .h1 {
  font-family: Gastromond;
  font-weight: 400;
  font-size: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
  letter-spacing: 0.06em;
}
/* line 720, ../sass/screen.scss */
.resume.active .content .h2 {
  font-weight: 700;
  font-size: calc((10px * 1) + ((10 * 3.53) - (10 * 1)) * ((100vh - 568px) / (2520 - 568)));
  letter-spacing: 0.1em;
}
/* line 727, ../sass/screen.scss */
.resume.active .content .h3 {
  font-size: calc((12px * 1) + ((12 * 3.53) - (12 * 1)) * ((100vh - 568px) / (2520 - 568)));
  line-height: calc((18px * 1) + ((18 * 3.53) - (18 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 733, ../sass/screen.scss */
.resume.active .content .line_one {
  margin-top: none;
}
/* line 737, ../sass/screen.scss */
.resume.active .content .line_two {
  margin-top: -.25%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 742, ../sass/screen.scss */
.resume.active .content .line_three {
  margin-top: -.72%;
  padding-top: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 747, ../sass/screen.scss */
.resume.active .content .line_four {
  margin-top: -1.25%;
  padding-top: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 752, ../sass/screen.scss */
.resume.active .content .line_five {
  margin-top: -.75%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 757, ../sass/screen.scss */
.resume.active .content .line_six {
  margin-top: -.67%;
  padding-top: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 762, ../sass/screen.scss */
.resume.active .content .line_seven {
  margin-top: -.97%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 767, ../sass/screen.scss */
.resume.active .content .line_eight {
  margin-top: -.2%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 772, ../sass/screen.scss */
.resume.active .content .line_nine {
  margin-top: -.7%;
  padding-top: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 777, ../sass/screen.scss */
.resume.active .content .line_ten {
  margin-top: -.97%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 782, ../sass/screen.scss */
.resume.active .content .line_eleven {
  margin-top: -.2%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 787, ../sass/screen.scss */
.resume.active .content .line_twelve {
  margin-top: -.4%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 792, ../sass/screen.scss */
.resume.active .content .line_thirteen {
  margin-top: -.8%;
  padding-top: calc((24px * 1) + ((24 * 3.53) - (24 * 1)) * ((100vh - 568px) / (2520 - 568)));
  line-height: calc((18px * 1) + ((18 * 3.53) - (18 * 1)) * ((100vh - 568px) / (2520 - 568)));
}
/* line 799, ../sass/screen.scss */
.resume.active .fullresume {
  position: fixed;
  bottom: 18%;
  margin-left: 28%;
  padding-top: calc((15px * 1) + ((15 * 3.53) - (15 * 1)) * ((100vh - 568px) / (2520 - 568)));
  padding-bottom: calc((16px * 1) + ((16 * 3.53) - (16 * 1)) * ((100vh - 568px) / (2520 - 568)));
  padding-left: calc((40px * 1) + ((40 * 3.53) - (40 * 1)) * ((100vh - 568px) / (2520 - 568)));
  padding-right: calc((40px * 1) + ((40 * 3.53) - (40 * 1)) * ((100vh - 568px) / (2520 - 568)));
  border-radius: 40px;
  border: 1.2px solid #1A1C21;
  font-size: calc((10px * 1) + ((10 * 3.53) - (10 * 1)) * ((100vh - 568px) / (2520 - 568)));
  font-weight: 700;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #1A1C21;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  will-change: transform opacity;
  transform: translateY(0%);
  transition-property: transform opacity;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}
/* line 824, ../sass/screen.scss */
.resume.active .fullresume:hover {
  background-color: #1A1C21;
  color: #ECEDF1;
  transition-duration: 300ms;
}
/* line 831, ../sass/screen.scss */
.resume.active .resume_top_fade {
  height: 20%;
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 1;
  background: linear-gradient(180deg, #ECEDF1 46.15%, #ecedf100 100%);
  will-change: opacity;
  transition-property: opacity;
  transition-duration: 1ms;
  transition-timing-function: ease-in-out;
}
/* line 844, ../sass/screen.scss */
.resume.active .resume_bottom_fade {
  height: 34%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  opacity: 1;
  background: linear-gradient(360deg, #ECEDF1 82%, #ecedf100 100%);
  will-change: opacity;
  transition-property: opacity;
  transition-duration: 1ms;
  transition-timing-function: ease-in-out;
}

/* line 858, ../sass/screen.scss */
.casestudies.inactive {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 872, ../sass/screen.scss */
.casestudies.inactive .cases {
  height: auto;
  width: auto;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  column-gap: calc((32px * 1) + ((32 * 3.53) - (32 * 1)) * ((100vw - 320px) / (4480 - 320)));
}
/* line 880, ../sass/screen.scss */
.casestudies.inactive .cases .case_1 {
  transform: translateY(500%);
  will-change: transform;
  transition-duration: 700ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 889, ../sass/screen.scss */
.casestudies.inactive .cases .case_2 {
  transform: translateY(300%);
  will-change: transform;
  transition-duration: 700ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 898, ../sass/screen.scss */
.casestudies.inactive .cases .case_3 {
  transform: translateY(100%);
  will-change: transform;
  transition-duration: 700ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 906, ../sass/screen.scss */
.casestudies.inactive .cases .case_3 .case_number {
  letter-spacing: -.03em !important;
}

/* line 913, ../sass/screen.scss */
.casestudies.active {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transform: translateY(0%);
  transition-property: transform;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 927, ../sass/screen.scss */
.casestudies.active .cases {
  height: auto;
  width: auto;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  column-gap: calc((32px * 1) + ((32 * 3.53) - (32 * 1)) * ((100vw - 320px) / (4480 - 320)));
}
/* line 935, ../sass/screen.scss */
.casestudies.active .cases .case_1 {
  transform: translateY(0%);
  will-change: transform;
  transition-duration: 700ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 944, ../sass/screen.scss */
.casestudies.active .cases .case_2 {
  transform: translateY(0%);
  will-change: transform;
  transition-duration: 700ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 953, ../sass/screen.scss */
.casestudies.active .cases .case_3 {
  transform: translateY(0%);
  will-change: transform;
  transition-duration: 700ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 961, ../sass/screen.scss */
.casestudies.active .cases .case_3 .case_number {
  letter-spacing: -.03em !important;
}
