/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya:ital,wght@0,400;0,800;1,400;1,800;1,900&family=Chivo:wght@300;400;900&display=swap");
/* line 5, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
.nav .link_container .link, .nav .link_container #tooltip, .herotext .title_name {
  text-decoration: none;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: .7;
  color: #C4CDDF;
}

/* line 27, ../sass/screen.scss */
.nav .link_container .link, .nav .link_container #tooltip {
  height: auto;
  width: auto;
  cursor: pointer;
}

/* line 34, ../sass/screen.scss */
.casestudies .app_shot {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
/* line 42, ../sass/screen.scss */
.casestudies .app_shot .image {
  height: 350.2px;
  width: auto;
  position: relative;
}
/* line 48, ../sass/screen.scss */
.casestudies .app_shot .info {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
}
/* line 56, ../sass/screen.scss */
.casestudies .app_shot .info .app_name {
  width: fit-content;
  height: fit-content;
  position: relative;
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.04em;
  font-variant: small-caps;
  color: #C4CDDF;
  margin-bottom: 24px;
}
/* line 71, ../sass/screen.scss */
.casestudies .app_shot .info .app_blurb {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-bottom: 40px;
  font-family: 'Chivo';
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #C4CDDF;
}
/* line 84, ../sass/screen.scss */
.casestudies .app_shot .info .app_details {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
/* line 92, ../sass/screen.scss */
.casestudies .app_shot .info .app_details .sections {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
/* line 100, ../sass/screen.scss */
.casestudies .app_shot .info .app_details .sections .container {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
/* line 108, ../sass/screen.scss */
.casestudies .app_shot .info .app_details .sections .container .top {
  width: fit-content;
  height: fit-content;
  position: relative;
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: .8;
  letter-spacing: 0.08em;
  color: #C4CDDF;
}
/* line 121, ../sass/screen.scss */
.casestudies .app_shot .info .app_details .sections .container .bottom {
  width: fit-content;
  height: fit-content;
  position: relative;
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: .8;
  letter-spacing: 0.1em;
  color: #C4CDDF;
}
/* line 137, ../sass/screen.scss */
.casestudies .app_shot .info .open_project {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 12px 16px;
  font-family: 'Chivo';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: .7;
  text-align: center;
  border: 1px solid #00E5A0;
  color: #C4CDDF;
  cursor: pointer;
  text-decoration: none;
}
/* line 157, ../sass/screen.scss */
.casestudies .app_shot .info .open_project:hover {
  background-color: #00E5A0;
  color: #212834;
}

/* line 165, ../sass/screen.scss */
html {
  height: fit-content;
  width: 100vw;
}

/* line 170, ../sass/screen.scss */
body {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212834;
}

/* line 180, ../sass/screen.scss */
.logo {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(24px + (48 - 24) * ((100vh - 640px) / (1440 - 640)));
  margin-top: 6vh;
  margin-left: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
  cursor: pointer;
}

/* line 191, ../sass/screen.scss */
.nav {
  height: fit-content;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin-top: 9.76vh;
  margin-right: calc(24px + (80 - 24) * ((100vh - 640px) / (1440 - 640)));
}
/* line 202, ../sass/screen.scss */
.nav .overlap {
  margin-right: -1vw;
}
/* line 206, ../sass/screen.scss */
.nav .link_container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: flex-end;
}
/* line 218, ../sass/screen.scss */
.nav .link_container .right:hover + #tooltip {
  visibility: visible;
}
/* line 224, ../sass/screen.scss */
.nav .link_container .left:hover + #tooltip {
  visibility: visible;
}
/* line 229, ../sass/screen.scss */
.nav .link_container #tooltip {
  visibility: hidden;
  padding: 1.5vh 1vw;
  position: relative;
  text-align: center;
  color: #212834;
  background-color: #C4CDDF;
}

/* line 241, ../sass/screen.scss */
.herotext {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 35vh;
}
/* line 251, ../sass/screen.scss */
.herotext .solutions {
  height: auto;
  width: auto;
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  letter-spacing: -0.01em;
  font-size: 140px;
  line-height: .7;
  -webkit-text-stroke: 1px #FF644F;
  color: #212834;
}
/* line 263, ../sass/screen.scss */
.herotext .t_c {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  column-gap: 6%;
  margin-top: 2.5vh;
}
/* line 271, ../sass/screen.scss */
.herotext .t_c .that {
  height: auto;
  width: auto;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  font-size: 46px;
  line-height: .7;
  color: #C4CDDF;
}
/* line 282, ../sass/screen.scss */
.herotext .t_c .captivate {
  height: auto;
  width: auto;
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.02em;
  font-size: 46px;
  line-height: .7;
  color: #C4CDDF;
}
/* line 295, ../sass/screen.scss */
.herotext .a_d {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  margin-top: 2.5vh;
}
/* line 302, ../sass/screen.scss */
.herotext .a_d .ampersand {
  height: auto;
  width: auto;
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-size: 46px;
  line-height: .7;
  margin-right: 10%;
  color: #C4CDDF;
}
/* line 313, ../sass/screen.scss */
.herotext .a_d .delight {
  height: auto;
  width: auto;
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.02em;
  font-size: 46px;
  line-height: .7;
  color: #C4CDDF;
}
/* line 325, ../sass/screen.scss */
.herotext .a_d .period {
  height: auto;
  width: auto;
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-size: 46px;
  line-height: .7;
  color: #C4CDDF;
}
/* line 336, ../sass/screen.scss */
.herotext .title_name {
  height: auto;
  width: auto;
  text-align: center;
  color: #69AAFF;
  margin-top: 2%;
}
/* line 344, ../sass/screen.scss */
.herotext .title_name .name {
  margin-top: 6%;
}

/* line 350, ../sass/screen.scss */
.turn_wheels {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 18vh;
}
/* line 358, ../sass/screen.scss */
.turn_wheels .wheel_one {
  height: 236px;
  width: auto;
  animation: clockwise 30s infinite linear;
}
@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* line 374, ../sass/screen.scss */
.turn_wheels .wheel_two {
  height: 175px;
  width: auto;
  position: absolute;
  align-self: center;
  animation: counterclockwise 30s infinite linear;
}
@keyframes counterclockwise {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* line 392, ../sass/screen.scss */
.turn_wheels #arrow {
  height: auto;
  width: 16px;
  padding-bottom: 5%;
  position: absolute;
  align-self: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  12% {
    transform: scale(1.06, 0.8) translateY(0);
  }
  32% {
    transform: scale(0.8, 1.02) translateY(-12px);
  }
  48% {
    transform: scale(1, 0.6) translateY(0);
  }
  64% {
    transform: scale(1, 1.06) translateY(-6px);
  }
  80% {
    transform: scale(1, 0.8) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
/* line 436, ../sass/screen.scss */
.casestudies {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 18vh;
  margin-bottom: 16vh;
  margin-left: 6vw;
}
/* line 446, ../sass/screen.scss */
.casestudies .cs_title {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  color: #C4CDDF;
  margin-bottom: 10vh;
}
/* line 456, ../sass/screen.scss */
.casestudies .cs_title .case {
  height: fit-content;
  width: fit-content;
  font-family: 'Chivo';
  font-weight: 900;
  font-size: 32px;
  line-height: .8;
  letter-spacing: -0.01em;
}
/* line 466, ../sass/screen.scss */
.casestudies .cs_title .studies {
  height: fit-content;
  width: fit-content;
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  font-size: 34px;
  line-height: .8;
  letter-spacing: 0.03em;
}
/* line 478, ../sass/screen.scss */
.casestudies .app_shot {
  margin-bottom: 10vh;
}

/* line 484, ../sass/screen.scss */
.pagination {
  height: 57px;
  width: 3px;
  position: fixed;
  z-index: 7;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  right: 1vw;
  top: 45vh;
}
/* line 495, ../sass/screen.scss */
.pagination .on {
  opacity: 1;
}
/* line 499, ../sass/screen.scss */
.pagination .off {
  opacity: .5;
}
/* line 503, ../sass/screen.scss */
.pagination .p_one {
  height: 15px;
  width: auto;
  background-color: #00E5A0;
}
/* line 509, ../sass/screen.scss */
.pagination .p_two {
  height: 15px;
  width: auto;
  background-color: #00E5A0;
}
/* line 515, ../sass/screen.scss */
.pagination .p_three {
  height: 15px;
  width: auto;
  opacity: .5;
  background-color: #00E5A0;
}

/* line 523, ../sass/screen.scss */
.figma_iframes {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
/* line 534, ../sass/screen.scss */
.figma_iframes .close_figma {
  position: absolute;
  top: 1vh;
  left: 4vw;
  margin-top: 40px;
  z-index: 11;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 12px 16px;
  font-family: 'Chivo';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: .7;
  text-align: center;
  border: 1px solid #00E5A0;
  color: #C4CDDF;
  cursor: pointer;
  text-decoration: none;
}
/* line 558, ../sass/screen.scss */
.figma_iframes .close_figma:hover {
  background-color: #00E5A0;
  color: #212834;
}
/* line 564, ../sass/screen.scss */
.figma_iframes .coming_soon {
  position: fixed;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-self: center;
  flex-direction: row;
  column-gap: 6px;
  color: #C4CDDF;
  margin-bottom: 15vh;
}
/* line 575, ../sass/screen.scss */
.figma_iframes .coming_soon .case {
  height: fit-content;
  width: fit-content;
  font-family: 'Chivo';
  font-weight: 900;
  font-size: 32px;
  line-height: .8;
  letter-spacing: -0.01em;
}
/* line 585, ../sass/screen.scss */
.figma_iframes .coming_soon .studies {
  height: fit-content;
  width: fit-content;
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  font-size: 34px;
  line-height: .8;
  letter-spacing: 0.03em;
}

/* line 599, ../sass/screen.scss */
.show {
  visibility: visible;
}
